<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <script src="isomer.js"></script>
  <script src="jquery-3.2.1.min.js"></script>
  <script src="spin.js"></script>
    <title>Bloc</title>
     <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>

<center>
  <canvas width="200px" height="200px" id="centerpiece"></canvas>
<div class="container">
    <!-- <div class="jumbotron text-center"> -->
        <h1><span class="fa fa-th-large"></span>Bloc</h1>

        <!-- <p>Login or Register with:</p> -->

        <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
        <p>Login</p>

      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
      <a href="/game" class="btn btn-primary"><span class="fa fa-user"></span> Guest</a>
    </div>

</center>
</body>
</html>
