html {
   min-height: 100%;
}

h1 {
  font-family: 'merkurregular';
  font-size: 150px;

}
body{
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  

}
