@font-face {
    font-family: 'merkurregular';
    src: url('merkur-webfont.woff2') format('woff2'),
         url('merkur-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
